.register-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background-register3.jpg");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.register-form {
    position: relative;
    min-width: 50%;
    border: 2px solid #ffffffff;
    border-radius: 1rem;
    background-color: #1a1a1a1a;
    padding: 1.5rem;
    backdrop-filter: blur(8px);
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.register-row__title {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

/* .input-field {
    width: 100%;
    padding: 12px 0;
    background: none;
    color: white;
    border: none;
    font-size: var(--normal-font-size);
    border-bottom: 1px solid #fff;
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    inset: 0;
    outline: none;
} */

/* .ant-input::placeholder {
    position: absolute;
    left: 25px;
    top: 9px;
    font-size: var(--normal-font-size);
    transition:
        top .3s, font-size .3s;
}

.input:focus+.ant-input::placeholder,
.input-field input:not(:placeholder-shown)+.ant-input::placeholder {
    top: -15px;
    font-size: var(--small-font-size);
} */